//Colors:
$lightblue: #0051ba;
$lightyellow: #fcd500;

//Clearfix
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

//Common
h1 {
  font-size: 36px;
  font-weight: bold;
  font-family: Verdana;
  text-align: center;
  margin: 60px 0;
}

//Navigation
.navigation-menu {
  background-color: $lightblue;
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    color: #ffffff;
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    line-height: 36px;
    text-shadow: 0 0 1px rgba(255, 255, 255, .5);
    float: left;
    width: auto;
    &:last-child {
      float: right;
    }
    &:first-child &-link {
      padding-left: 20px;
    }
    &:last-child &-link {
      padding-right: 20px;
    }
    &-hamburger{
      width: 36px;
      height: 36px;
      background-image: url(../template/images/hamburger.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      fill: #fff;
      display: none;
      transition: all .2s linear;
      &--rotate{
        transform: rotateY(90deg);
      }
    }
    @media screen and (max-width: 960px) {
      width: 100%;
      display: none;
      &:first-child &-link {
        padding-left: 14px;
      }
      &:last-child &-link {
        padding-right: 14px;
      }
      &-hamburger{
        display: block;
      }
    }
  }
  &__item-link {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 0 14px;
    transition: all .2s ease-in;
    &:visited, &:active {
      color: #ffffff;
    }
    &:hover {
      color: $lightyellow;
    }
  }
}



.grid-item{
  min-height:520px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
}

.gi-1-1{
  background-image: url(../template/images/row1.jpg);
}

.gi-2-1{
  background-image: url(../template/images/row2l.jpg);
}

.gi-2-2{
  background-image: url(../template/images/row2r.jpg);
}