.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

h1 {
  font-size: 36px;
  font-weight: bold;
  font-family: Verdana;
  text-align: center;
  margin: 60px 0; }

.navigation-menu {
  background-color: #0051ba;
  margin: 0;
  padding: 0;
  list-style: none; }
  .navigation-menu__item {
    color: #ffffff;
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    line-height: 36px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    float: left;
    width: auto; }
    .navigation-menu__item:last-child {
      float: right; }
    .navigation-menu__item:first-child .navigation-menu__item-link {
      padding-left: 20px; }
    .navigation-menu__item:last-child .navigation-menu__item-link {
      padding-right: 20px; }
    .navigation-menu__item-hamburger {
      width: 36px;
      height: 36px;
      background-image: url(../template/images/hamburger.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      fill: #fff;
      display: none;
      transition: all .2s linear; }
      .navigation-menu__item-hamburger--rotate {
        transform: rotateY(90deg); }
    @media screen and (max-width: 960px) {
      .navigation-menu__item {
        width: 100%;
        display: none; }
        .navigation-menu__item:first-child .navigation-menu__item-link {
          padding-left: 14px; }
        .navigation-menu__item:last-child .navigation-menu__item-link {
          padding-right: 14px; }
        .navigation-menu__item-hamburger {
          display: block; } }
  .navigation-menu__item-link {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 0 14px;
    transition: all .2s ease-in; }
    .navigation-menu__item-link:visited, .navigation-menu__item-link:active {
      color: #ffffff; }
    .navigation-menu__item-link:hover {
      color: #fcd500; }

.grid-item {
  min-height: 520px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover; }

.gi-1-1 {
  background-image: url(../template/images/row1.jpg); }

.gi-2-1 {
  background-image: url(../template/images/row2l.jpg); }

.gi-2-2 {
  background-image: url(../template/images/row2r.jpg); }
